.center-text {
  text-align: center;
}

.header {
  border-style: dotted;
  font-family: 'Courier New', Courier, monospace;
}

.all-todos-title {
  text-decoration-line: underline;
  font-family: 'Courier New', Courier, monospace;
}

.all-todos {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.center-text-border {
  text-align: center;
  border-style: solid;
  border-color: black;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.red {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.orange {
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.green {
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/* body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, aquamarine 22%, white 22%, white 78%, aquamarine 78%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
} */

body {
  background-color: #caefb3;
  padding-top: 3%;
  padding-bottom: 3%;
}

.center {
  text-align: center;
  
  background-color: #fbfcfa;
  left: 14%;
  width: 72%;
  height: 100%;
  position: relative;
  border: 3px solid #bad1ab;
  border-radius: 2px;
  box-shadow: 0px 0px 7px black;
  
}

.title {
  border-bottom: 3px solid black;
  position: relative;
  left: 25%;
  width: 50%;
}

/* .third-line {
  display: inline-block;
} */

.organize {
  display: flex;
}

.dropdown {
  position: sticky;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 3px solid red;
  height: 30px; */
  width: 50%;
  /* height: 200px; */
  flex:1;
  margin: 1px;
  /* border: 3px solid red; */
  
}

.dropdown div {
  background-color: #a1eb73;
  /* border-radius: 3px; */
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  /* vertical-align: middle; */
  /* line-height: 40px;   */
  border-radius: 3px;
  border: 2px solid #bad1ab;
  margin-bottom: 1px;
  /* width: 100%; */
  /* height: 20%; */
  /* margin: auto; */
  
}
.search div {
  background-color: #a1eb73;
  /* border-radius: 3px; */
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #bad1ab;
  /* vertical-align: middle; */
  /* line-height: 40px;   */
  /* width: 100%; */
  /* height: 20%; */
  /* margin: auto; */
}


.select {
  background-color: #b6f58e;
  border-radius: 3px;
  position: relative;
  width: 100%;
  /* border-top: 2px solid #bad1ab */
}

.add-forum input {
  width: 60%;
  background-color: whitesmoke;
  margin: 3px;
}

.add-forum #importance {
  width: 30%;
  margin-right: 8px;
  margin-bottom: 3px;
}

.add-forum #category {
  width: 30%;
}

.search {
  position: sticky;
  font-family: Arial, Helvetica, sans-serif;
  width:50%;
  margin: 2px;
  /* border: 3px solid red; */

}



.searchbar input {
  width: 50%;
  background-color: whitesmoke;
}

.searchbar #enter {
  width:23%
}
.searchbar #reset {
  width: 23%
}
.todos-cat {
  /* border: 3px solid red; */
  width: 50%;
}
.to-do-list {
  /* border: 3px solid red; */
  width: 50%;
}
.todo {
  border: 3px solid #bad1ab;
  background-color: #d1fdb5;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 2px;

}

#high {
  border: 3px solid red;
  background-color: rgb(245, 157, 157);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 2px;
}

#medium {
  border: 3px solid orange;
  background-color: rgb(250, 222, 169);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 2px;
}

#low {
  border: 3px solid blue;
  background-color: rgb(161, 161, 245);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 2px;
}

.item-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new-todo {
  width: 100%;
  top: 180px;
  position: absolute;
}

/* .filter-category {
  border-bottom: 3px solid black;
  width: 200px;
  position: relative;
  left: 3%;
} */

/* .inline {
  display: inline-block;
} */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

